<div class="container">
  <div class="row col-7 mx-auto">
    <h2 class="text-center mt-5 mb-4">管理者画面</h2>
    <%= link_to "投稿", new_post_path %>
    <%= link_to "ユーザー一覧", admins_users_path %>
  </div>
</div>