<div class="container">
  <div class="row col-7 mx-auto">
    
    <h2 class="text-center mt-5 mb-4">管理メニュー</h2>
    
    <%= link_to 'お知らせ管理', posts_path %>
    
    <%= link_to "ユーザー管理", admins_users_path %>
    
    <%= link_to "寺院登録", new_temple_registration_path %>
    
    <%= link_to "寺院管理", admins_temples_path %>
    
  </div>
</div>
