<% flash.each do |alert, message| %>
  <div class="alert alert-<%= alert %>"><%= message %></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="main-visual">
      
    </div>
  </div>
</div>