@import "simple_calendar";
@import "~bootstrap/scss/bootstrap"; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  table-layout: fixed;
  width: 100%;
}

td, th {
  width: auto;
}

body {
  font-family: Lora, serif;
  font-size: 18px;
}

section {
  width: 100%;
}

.top-image {
  img {
    width: 100%;
    height: auto;
  }
}

.information-image {
  img {
    width: 50%;
    border-radius: 100vh;
    margin: auto;
    display: block;
  }
}

.information-content:not(:last-child) {
  border-right: 1px solid #ccc;
}

.information-contents:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.main-image {
  img {
    width: 100%;
    border-radius: 30px;
  }
}

.contact {
  text-align: center;
}