<div class="container">
  <div class="row col-7 mt-5 mb-4 mx-auto">
    <h1 class="text-center">編集画面</h1>
    <%= form_with model: @post do |f| %>
      <h4>タイトル</h4>
      <%= f.text_field :title, class: 'form-control mb-3' %>
      <h4>本文</h4>
      <%= f.text_area :body, class: 'form-control mb-5', rows: 10 %>
      <div class="d-flex justify-content-center">
        <%= f.submit '保存' %>
      </div>
    <% end %>
  </div>
</div>